@model IEnumerable<SocialMonster.Models.WebSitePost>

@foreach (var post in Model)
{
    if (Request.Cookies["isListView"].Value.ToString() == "1")
    {

        <div class="card news-feed-card-bg text-black smart-news-box">
            <div class="card-content">
                <div class="card-body mb-2">
                    <a href="@post.Url" target="_blank">
                        <img src="~/@post.WbFullPicture" onError="this.style.display = 'none';" style="width:100%">
                    </a>
                    <div>
                        <a href="@post.Url" class="text-dark" target="_blank" style=" float:left;"><b>@post.Title</b></a>
                    </div>
                    <div align="right" style="font-style:italic; color:#ccc;">@post.DateTime</div>
                    <div style="text-align:justify;">
                        <a href="@post.Url" class="text-dark" target="_blank">@post.Body</a>
                    </div>
                </div>
            </div>
            <div class="container" style=" border-top: 1px solid #e3ebf6;">
                <div style="display:flex;align-items:center; justify-content:end" class="">
                    <div style="padding:0 7px 0 7px; border-right: 1px solid #e3ebf6" class="col-sm-auto">
                        <input type="checkbox" class="checkbox form-check-input" data-type="WebSite" data-postid="@post.ID" style="width:19px !important;height: 19px; margin-top:0" />
                    </div>

                    <div class="col-sm-auto">
                        @if (post.Sentiment == null)
                        {
                            <div align="center" style="width:35px !important; height:19px; background:#ffc107; padding:3px; border-radius:5px; color:#fff;"></div>
                        }
                        else if (post.Sentiment == "Positive")
                        {
                            <div align="center" style="width: 60px !important; height: 25px; background: #28a745; padding: 3px; border-radius: 5px; color: #fff;">Эерэг</div>

                        }
                        else if (post.Sentiment == "Negative")
                        {
                            <div align="center" style="width: 60px !important; height: 25px; background: #dc3545; padding: 3px; border-radius: 5px; color: #fff;">Сөрөг</div>
                        }
                        else if (post.Sentiment == "Neutral")
                        {
                            <div align="center" style="width: 60px !important; height: 25px; background: #6c757d; padding: 3px; border-radius: 5px; color: #fff;">Саармаг</div>
                        }
                    </div>
                    <div class="col-sm-auto">
                        <button onclick="Modal('WebSite','@post.ID')" align="center" class="btn btn-block" data-toggle="modal" data-target="#ModalControl"
                                style="padding: 2px 0 0 4px; border-radius: 5px; color: #7081b9; font-size: 19px">
                            <i class="fa fa-cog"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <span style="display:block; !important;">
            <div class="card news-feed-card-bg text-black smart-news-box">
                <div class="card-content">
                    <div class="card-body mb-2">
                        <a href="@post.Url" target="_blank">
                            <img src="@post.CoverUrl" style="width:100%">
                        </a>
                        <div>
                            <a href="@post.Url" class="text-dark" target="_blank" style=" float:left;"><b>@post.Title</b></a>
                        </div>
                        @*                                        <div align="right" style="font-style:italic;"><a href="@post.Url" target="_blank">@post.Url</a></div>
                        *@                                        <div align="right" style="font-style:italic; color:#ccc;">@post.DateTime</div>
                        <div style="text-align:justify;">
                            <a href="@post.Url" class="text-dark" target="_blank">@post.Body</a>
                        </div>
                    </div>
                </div>
                <div class="container" style=" border-top: 1px solid #e3ebf6;">
                    <div style="display:flex;align-items:center; justify-content:end" class="">
                        <div style="padding:0 7px 0 7px; border-right: 1px solid #e3ebf6" class="col-sm-auto">
                            <input type="checkbox" class="checkbox form-check-input" data-type="WebSite" data-postid="@post.ID" style="width:19px !important;height: 19px; margin-top:0" />
                        </div>

                        <div class="col-sm-auto">
                            @if (post.Sentiment == null)
                            {
                                <div align="center" style="width:35px !important; height:19px; background:#ffc107; padding:3px; border-radius:5px; color:#fff;"></div>
                            }
                            else if (post.Sentiment == "Positive")
                            {
                                <div align="center" style="width:35px !important; height:19px; background:#28a745; padding:3px; border-radius:5px; color:#fff;"></div>

                            }
                            else if (post.Sentiment == "Negative")
                            {
                                <div align="center" style="width:35px !important; height:19px; background:#dc3545; padding:3px; border-radius:5px; color:#fff;"></div>
                            }
                            else if (post.Sentiment == "Neutral")
                            {
                                <div align="center" style="width:35px !important; height:19px; background:#6c757d; padding:3px; border-radius:5px; color:#fff;"></div>
                            }
                        </div>
                        <div class="col-sm-auto">
                            <button onclick="Modal('WebSite','@post.ID')" align="center" class="btn btn-block" data-toggle="modal" data-target="#ModalControl"
                                    style="padding: 2px 0 0 4px; border-radius: 5px; color: #7081b9; font-size: 19px">
                                <i class="fa fa-cog"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </span>
    }
    

}
